* {
    box-sizing: border-box;
}

body {

    min-height: 100vh;
    margin: 0;
    background-color: #0B2434;
    font-family: Inter, sans-serif;

    display: flex;
    justify-content: center;  
    align-items: center;
}

#root{
    background-color: #000000;
    height: 100%;
    width: 100%;
    max-height: 800px;
    max-width: 800px;

}

main {
    background-color: #F5F5F5;
    height: 100%;
    width: 100%;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.die {
  font-family: Karla, sans-serif;
  height: 100px;
  width: 100px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-size: 3rem;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.Roll_button {
    font-family: Karla, sans-serif;
    padding: 20px 90px;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff00ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


