* {
    box-sizing: border-box;
}

body {

    min-height: 100vh;

    margin: 0;
    background-color: #0B2434;

    display: flex;
    justify-content: center;  
    align-items: center;

}

#root{
    background-color: #000000;
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 400px;

}


main {
    background-color: #F5F5F5;
    height: 50%;
    border-radius: 5px;
}
