* {
    box-sizing: border-box;
}

body {

    min-height: 100vh;
    margin: 0;
    background-color: #0B2434;
    font-family: Inter, sans-serif;

    display: flex;
    justify-content: center;  
    align-items: center;
}

#root{
    background-color: #000000;
    height: 100%;
    width: 100%;
    max-height: 900px;
    max-width: 900px;

}

main {
    background-color: #F5F5F5;
    height: 100%;
    width: 100%;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    font-size: 75px;
    margin: 0;
}

.instructions {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
    margin-top: -80;
    width: 50%;
}

/*die style*/
.die {
  font-family: Karla, sans-serif;
  height: 100px;
  width: 100px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-size: 3rem;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* held die style*/
.die-held {
    background-color: #59E391;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.dice-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.Roll_button {
    font-family: Karla, sans-serif;
    padding: 15px 15px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff00ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* pressed state of Roll_button */
.Roll_button:active {
    transform: translateY(5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

