* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

main {
    background-color: #F5F5F5;
    height: 20rem;
    width: 20rem;
    border-radius: 5px;
}
